<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".-->

  <connectionStrings>
    <add name="DefaultConnection"
      connectionString="Data Source=tcp:hk758u5522.database.windows.net,1433;Initial Catalog=BriefBox;User Id=bbaspuser@hk758u5522;Password=BriefBox123;"
      xdt:Transform="SetAttributes"
      xdt:Locator="Match(name)"/>
  </connectionStrings>

  <connectionStrings>
    <add name="RavenHQ"
      connectionString="Url=http://briefboxvm.cloudapp.net:12009/;Database=BriefBox"
      xdt:Transform="SetAttributes"
      xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="AppBaseUrl" value="http://dev.briefbox.com.au" xdt:Transform="SetAttributes"
            xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  
  <!--Web Server Config-->
  <system.webServer>
    <staticContent>
      <!-- This is needed for .woff files to not have 404 - these are font files used by bootstrap.-->
      <!-- IN IIS EXPRESS THIS CAUSES THE SERVER TO DIE AND GIVE 500 ERROR TO EVERYTHING, that's why it's only in release mode-->
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" xdt:Transform="Insert"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" xdt:Transform="Insert"/>
    </staticContent>
  </system.webServer>
  
</configuration>
